body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    background-color: #fff;
}
.sidebar {
    width: 240px;
    background-color: #d3e1eb;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-content {
    flex-grow: 1;
    border-right: 1px solid #eee;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-right: 370px;
}
.right-sidebar {
    width: 350px;
    background-color: #d3e1eb;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-y: auto;
}
.tweet {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 600px;
}
.logo-container img {
    max-width: 100%;
    height: auto;
}
.sidebar a {
    display: block;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #452d21;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
}
.sidebar a:hover {
    color: #0d8ddb;
}
.image-gallery {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 10px auto;
}
.image-gallery img {
    position: relative;
    width: 800px;
    height: 750px;
    left:0;
    transition: 1s;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.arrow.left {
    left: 20px;
    background-image: url('https://media.discordapp.net/attachments/1226572766115790960/1230213833147023410/left_arrow.jpeg?ex=663280ea&is=66200bea&hm=9461c90e50cf6b7e8aff2031ac872317627683efbdbdd08a107b7f722471e510&=&format=webp&width=593&height=593');
}
.arrow.right {
    right: 20px;
    background-image: url('https://media.discordapp.net/attachments/1226572766115790960/1230213833407336488/right_arrow.jpeg?ex=663280ea&is=66200bea&hm=3af6c55254695a7eee4c5245d8715a37a7906b4567bf7afbd703e7736b307a90&=&format=webp&width=593&height=593');
}
.logo {
    display: block;
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}
.bottom-box {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}
.recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.recipe-card {
    
    width: 300px;
    border: 1px solid #ccc;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s;
}

.recipe-card .details {
    display: none;
    padding: 10px;
}

.recipe-card h2, .recipe-card p {
    padding: 0 10px;
}

.detail-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    width: 100%;
}
